@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fdc7fd;
}
button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background: none;
}

#BtnPrecedent,
#BtnSuivant {
  font-size: 25px;
  border: none;
  box-shadow: none;
  overflow: hidden;
  width: au;
}

#header {
  padding: 10px;
  color: #ff0000;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

#container {
  width: 770px;
}
#semaine {
  width: 100%;
  display: flex;
  color: #00b3ff;
  text-transform: uppercase;
  text-align: center;
}
#semaine div {
  width: 100px;
  padding: 10px;
}
#calendrier {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #00ff37;
  text-decoration: underline;

  font-weight: 700;
}

.day + .currentDay {
  background-color: #8edff8;
  font-weight: 500;
  text-decoration: underline;
  color: white;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #3ec5ff;
  color: white;
  border-radius: 5px;
  max-height: 75px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#BtnCancel,
#BtnSuppr {
  background-color: #d43333;
  font-size: 10px;
  font-weight: 600;
}
#BtnSave,
#BtnFermer {
  background-color: #5973c9;
  font-size: 10px;
  font-weight: 600;
}
#eventText {
  font-size: 12px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
